<!DOCTYPE html>
<html>
<head>
    <title>Python EC2 App</title>
    <style>
        body{
            font-family:Arial;
            background:#f4f4f4;
            text-align:center;
            margin-top:100px;
        }

        .box{
            width:600px;
            margin:auto;
            background:white;
            padding:30px;
            border-radius:10px;
            box-shadow:0 0 10px gray;
        }

        h1{
            color:green;
        }

    </style>
</head>

<body>

<div class="box">

<h1>Python Application Deployed Successfully 🎉</h1>

<h2>Running on AWS EC2</h2>

<p>Hosted using Flask + Systemd Service</p>

</div>

</body>
</html>
